/* hero section */
.hero-area {
  background-image: url(../images/hero-bg.png);
  position: relative;

  .hero-content {
    padding: 250px 0px;

    @include desktop {
      padding: 150px 0px;
    }

    @include tablet {
      padding: 100px 0px 500px;
      text-align: center;
    }

    @include landscape-phone {
      padding: 80px 0px 420px;
      text-align: center;
    }

    @include portrait-phone {
      padding: 80px 0px 320px;
      text-align: center;
    }


    .primary-btn {
      margin-right: 30px;
    }
  }

  .hero-img {
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: auto;
      height: 700px;

      @include desktop {
        height: 480px;
      }

      @include tablet {
        height: 480px;
        right: 50%;
        transform: translateX(50%);
      }

      @include landscape-phone {
        height: 400px;
        right: 50%;
        transform: translateX(50%);
      }

      @include portrait-phone {
        height: 290px;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}

.title {
  span {
    color: $primary-color;
  }
}

.about-area {
  @include tablet {
    text-align: center;
  }

  @include landscape-phone {
    text-align: center;
  }

  @include portrait-phone {
    text-align: center;
  }

  .about-content {
    @include tablet {
      margin-top: 40px;
    }

    @include landscape-phone {
      margin-top: 40px;
    }

    @include portrait-phone {
      margin-top: 40px;
    }
  }
}