/* hero section */
.hero-area {
  background: url('../images/hero-bg.png') no-repeat center/cover;
  position: relative;

  .hero-content {
    padding: 250px 0px;

    @include desktop {
      padding: 150px 0px;
    }

    @include tablet {
      padding: 100px 0px 500px;
      text-align: center;
    }

    @include landscape-phone {
      padding: 80px 0px 420px;
      text-align: center;
    }

    @include portrait-phone {
      padding: 80px 0px 320px;
      text-align: center;
    }

    .title {
      span {
        color: $primary-color;
      }
    }


    .primary-btn {
      margin-right: 30px;
    }
  }

  .hero-img {
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: auto;
      height: 700px;

      @include desktop {
        height: 480px;
      }

      @include tablet {
        height: 480px;
        right: 50%;
        transform: translateX(50%);
      }

      @include landscape-phone {
        height: 400px;
        right: 50%;
        transform: translateX(50%);
      }

      @include portrait-phone {
        height: 290px;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}

.about-area {
  @include tablet {
    text-align: center;
  }

  @include landscape-phone {
    text-align: center;
  }

  @include portrait-phone {
    text-align: center;
  }

  .about-content {
    @include tablet {
      margin-top: 40px;
    }

    @include landscape-phone {
      margin-top: 40px;
    }

    @include portrait-phone {
      margin-top: 40px;
    }
  }
}

.section-top {
  .title {
    span {
      color: $primary-color;
    }
  }
}

.service-area {
  background-color: $off-white;
}

.service-single {
  padding: 40px;
  border: 1px solid $border-color;
  border-radius: 10px;

  .icon {
    font-size: 45px;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: rgba($primary-color, .2);
    border-radius: 8px;
    transition: $transition;
  }

  .title {
    a {
      color: $secondary-color;
      transition: $transition;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.link-page {
  color: $secondary-color;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  transition: all .2s;

  &:hover {
    color: $primary-color;
  }
}

.doctor-area {
  background: url('../images/doctor-pattern.png') no-repeat top right/contain;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 45%;
    background-color: $off-white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    @include tablet {
      height: 70%;
    }

    @include all-phone {
      height: 70%;
    }
  }

  .doctor-single {
    border-radius: 20px;
    margin-bottom: 30px;
  }

}

.doctor-content {
  text-align: center;
  background-color: $white-color;
  padding: 30px;
  border-radius: 0 0 20px 20px;

  .social-icons {
    margin-top: -50px;

    li {
      display: inline;
      margin: 0px 10px;

      a {
        color: $white-color;
        background-color: $secondary-color;
        font-size: 20px;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        transition: $transition;

        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }

  .title {
    a {
      color: $secondary-color;
      transition: $transition;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .designation {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
  }
}

.testimonial-area {
  position: relative;
}

.testimonial-single {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px $border-color;
  margin-bottom: 30px;

  .testimonial-content{
    padding-left: 10px;
  }
  span {
    font-size: 18px;
    font-weight: 900;
    text-transform: capitalize;
    display: block;
    padding-top: 10px;
  }
}