/* hero section */
.hero-area {
  background: url('../images/hero-bg.png') no-repeat center/cover;
  position: relative;

  .hero-content {
    padding: 250px 0px;

    @include desktop {
      padding: 150px 0px;
    }

    @include tablet {
      padding: 100px 0px 500px;
      text-align: center;
    }

    @include landscape-phone {
      padding: 80px 0px 420px;
      text-align: center;
    }

    @include portrait-phone {
      padding: 80px 0px 320px;
      text-align: center;
    }

    .title {
      span {
        color: $primary-color;
      }
    }


    .primary-btn {
      margin-right: 30px;
    }
  }

  .hero-img {
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: auto;
      height: 700px;

      @include desktop {
        height: 480px;
      }

      @include tablet {
        height: 480px;
        right: 50%;
        transform: translateX(50%);
      }

      @include landscape-phone {
        height: 400px;
        right: 50%;
        transform: translateX(50%);
      }

      @include portrait-phone {
        height: 290px;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}

.about-area {
  @include tablet {
    text-align: center;
  }

  @include landscape-phone {
    text-align: center;
  }

  @include portrait-phone {
    text-align: center;
  }

  .about-content {
    @include tablet {
      margin-top: 40px;
    }

    @include landscape-phone {
      margin-top: 40px;
    }

    @include portrait-phone {
      margin-top: 40px;
    }
  }
}

.section-top {
  .title {
    span {
      color: $primary-color;
    }
  }
}

.service-area {
  background-color: $off-white;
}

.service-single {
  padding: 40px;
  border: 1px solid $border-color;
  border-radius: 10px;

  .icon {
    font-size: 45px;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: rgba($primary-color, .2);
    border-radius: 8px;
    transition: $transition;
  }

  .title {
    a {
      color: $secondary-color;
      transition: $transition;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.link-page {
  color: $secondary-color;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  transition: all .2s;

  &:hover {
    color: $primary-color;
  }
}

.doctor-area {
  background: url('../images/doctor-pattern.png') no-repeat top right/contain;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 45%;
    background-color: $off-white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    @include tablet {
      height: 70%;
    }

    @include all-phone {
      height: 70%;
    }
  }

  .doctor-single {
    border-radius: 20px;
    margin-bottom: 30px;
  }

}

.doctor-content {
  text-align: center;
  background-color: $white-color;
  padding: 30px;
  border-radius: 0 0 20px 20px;

  .social-icons {
    margin-top: -50px;

    li {
      display: inline;
      margin: 0px 10px;

      a {
        color: $white-color;
        background-color: $secondary-color;
        font-size: 20px;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        transition: $transition;

        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }

  .title {
    a {
      color: $secondary-color;
      transition: $transition;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .designation {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
  }
}

.testimonial-area {
  position: relative;
}

.slick-dots {
  bottom: -35px;

  li.slick-active button:before {
    color: $primary-color;
    border: 1px solid gray;
  }

  li button:before {
    font-size: 35px;
    line-height: 19px;
    border: 1px solid transparent;
    border-radius: 50%;
  }
}



.testimonial-single {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px $border-color;
  margin: 20px 15px;


  .testimonial-content {
    padding-left: 10px;
  }

  span {
    font-size: 18px;
    font-weight: 900;
    text-transform: capitalize;
    display: block;
    padding-top: 10px;
  }
}

.gallery-area {
  background-color: $off-white;
}

.image-single {
  border-radius: 14px;
  position: relative;
  margin-bottom: 30px;

  &:hover {
    .hover-state {
      opacity: 1;
      visibility: visible;
    }
  }

  .hover-state {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 14px;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    background-image: linear-gradient(#1ac16800 0%, #1ac16810 20%, #1ac168c7 100%);

    span {
      font-size: 40px;
      color: $white-color;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

}

.subs-area {
  .subs-bg {
    background: url('../images/subscribe-pattern.png') no-repeat top right/contain ;
    background-color: #00005c;
    padding: 80px;
    border-radius: 40px;
    @include all-phone{
      padding: 40px;
    }
    h2{
      color: $white-color;
      @include tablet{
        margin-bottom: 20px;
      }
      @include all-phone{
        margin-bottom: 20px;
      }
    }
  }

  .subs-email,
  .subs-btn {
    padding: 24px;
    width: 100%;
    @include all-phone{
      padding: 14px;
    }
  }
  .subs-email{
    border: none;
    border-radius: 10px 0 0 10px;
  }
  .subs-btn{
    text-transform: capitalize;
    border-radius: 0 10px 10px 0;
  }
}