.primary-btn {
  color: $white-color;
  background-color: $primary-color;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 8px;
  display: inline-block;
  transition: $transition;

  &:hover {
    color: $primary-color;
    background-color: transparent;
    border: 1px solid $primary-color;
  }
}

.secondary-btn {
  color: $secondary-color;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 24px;
  border: 1px solid $secondary-color;
  border-radius: 8px;
  display: inline-block;
  transition: $transition;

  &:hover {
    color: $white-color;
    background-color: $secondary-color;
  }
}