/* header */
.header-top {
  background-color: $secondary-color;
  padding: 10px 0;

  .header-info {
    @include tablet {
      text-align: center;
    }

    @include all-phone {
      text-align: center;
    }

    li {
      display: inline;
      margin-right: 30px;

      @include tablet {
        text-align: center;
      }

      @include landscape-phone {
        display: block;
        margin-right: 0;
        margin-right: 10px;
      }

      @include portrait-phone {
        display: block;
        margin-right: 0;
        margin-right: 10px;
      }

      a {
        color: $white-color;
        font-weight: 500;
        transition: $transition;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .header-button {
    text-align: right;

    @include tablet {
      text-align: center;
      margin-top: 14px;
    }

    @include landscape-phone {
      text-align: center;
      margin-top: 14px;
    }

    @include portrait-phone {
      text-align: center;
      margin-top: 5px;
      padding: 8px 18px;
    }

  }
}

.menu-area {
  background-color: $white-color;
  position: relative;
  height: 80px;

  @include tablet{
    display: flex;
    align-items: center;
  }
  @include all-phone{
    display: flex;
    align-items: center;
  }

  .nav-right-content {
    text-align: right;

    @include tablet{
      text-align: center;
    }

    @include all-phone {
      display: none;
    }
  }
}