/* header */
.header-top {
  background-color: $secondary-color;
  padding: 10px 0;

  .header-info {
    li {
      display: inline;
      margin-right: 30px;

      @include landscape-phone {
        display: block;
        margin-right: 0;
        margin-right: 10px;
      }

      @include portrait-phone {
        display: block;
        margin-right: 0;
        margin-right: 10px;
      }

      a {
        color: $white-color;
        font-weight: 500;
        transition: $transition;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .header-button {
    text-align: right;

    @include tablet {
      text-align: left;
      margin-top: 10px;
    }

    @include landscape-phone {
      text-align: left;
      margin-top: 10px;
    }

    @include portrait-phone {
      text-align: left;
      margin-top: 10px;
      padding: 8px 18px;
    }

    .primary-btn {

      @include screen-360 {
        padding: 8px 18px;
      }
    }
  }
}